.form-outline .form-control {
  min-height: auto;
  padding: 0.32rem 0.75rem;
  border: 0;
  background: transparent;
  transition: all 0.2s linear;
}
.form-outline {
  position: relative;
  width: 100%;
}
.login_form_card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.login_form_card .sign_in_btn {
  background-color: #014dbc;
  font-weight: bold;
}
.login_form_card .sign_in_btn:hover {
  background-color: #014dbcc2;
}
img.LoginrentLogo {
  width: 180px;
}
.login_form_card.card {
  border-top: 8px solid #014dbc;
}
.login_form_card input.form-control,
.login_form_card .input-group-text {
  border: 1px solid #014dbc;
}
.login_form_card .input-group-text {
  background-color: #014dbc;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .gradient-form.container {
    padding: 0px 20px;
  }
  /* custom */
  img.LoginrentLogo {
    width: 100%;
  }
}
.forgotForm span.ant-input-group-addon{
  background-color: #014dbc;
  color: #fff;
  border: 1px solid #014dbc;
}

.forgotForm input{
  border: 1px solid #014dbc;
  color: #000;
}